<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/public.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
    <script th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/calendar/WdatePicker.js}"></script>
</head>
<body>
<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>订单管理页面</span>
    </div>
    <div class="search">
        <form method="get" action="#">
            <input name="method" value="query" class="input-text" type="hidden">
            <span>商品名称：</span>
            <label>
                <input name="queryProductName" id="queryProductName" type="text"/>
            </label>
            <span>供应商：</span>
            <select name="queryProviderId">
                <option value="0">--请选择--</option>
                <option th:each="pro:${providerList}" th:text="${pro.proname}" selected="selected"></option>
            </select>
            <span>是否付款：</span>
            <label>
                <select name="queryIsPayment" id="queryIsPayment">
                    <option value="0">--请选择--</option>
                    <option value="1" }>未付款</option>
                    <option value="2" }>已付款</option>
                </select>
            </label>

            <input value="查 询" type="submit" id="searchbutton">
            <a href="${pageContext.request.contextPath }/jsp/billadd.jsp">添加订单</a>
        </form>
    </div>
    <!--账单表格 样式和供应商公用-->
    <table class="providerTable" cellpadding="0" cellspacing="0">
        <tr class="firstTr">
            <th width="10%">订单编码</th>
            <th width="20%">商品名称</th>
            <th width="10%">供应商</th>
            <th width="10%">订单金额</th>
            <th width="10%">是否付款</th>
            <th width="10%">创建时间</th>
            <th width="30%">操作</th>
        </tr>
        <tr class="text-center" id="content" th:each="bill:${billList}">
            <td th:text="${bill.billcode}"></td>
            <td th:text="${bill.productname}"></td>
            <td th:text="${bill.billcode}"></td>
            <td th:text="${bill.productcount}"></td>
            <td th:text="${bill.ispayment}"></td>
            <td th:text="${#dates.format(bill.creationdate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <span><a class="viewBill" href=""><img th:src="@{/static/images/read.png}" alt="查看"
                                                       title="查看"/></a></span>
                <span><a class="modifyBill" href=""><img th:src="@{/static/images/xiugai.png}" alt="修改" title="修改"/></a></span>
                <span><a class="deleteBill" href=""><img th:src="@{/static/images/schu.png}" alt="删除"
                                                         title="删除"/></a></span>
            </td>
        </tr>
        <!--<c:forEach var="bill" items="${billList }" varStatus="status">
              <tr>
                  <td>
                  <span>${bill.billCode }</span>
                  </td>
                  <td>
                  <span>${bill.productName }</span>
                  </td>
                  <td>
                  <span>${bill.providerName}</span>
                  </td>
                  <td>
                  <span>${bill.totalPrice}</span>
                  </td>
                  <td>
                  <span>
                      <c:if test="${bill.isPayment == 1}">未付款</c:if>
                      <c:if test="${bill.isPayment == 2}">已付款</c:if>
                  </span>
                  </td>
                  <td>
                  <span>
                  <fmt:formatDate value="${bill.creationDate}" pattern="yyyy-MM-dd"/>
                  </span>
                  </td>
                  <td>
                  <span><a class="viewBill" href="javascript:;" billid=${bill.id } billcc=${bill.billCode }><img src="${pageContext.request.contextPath }/images/read.png" alt="查看" title="查看"/></a></span>
                  <span><a class="modifyBill" href="javascript:;" billid=${bill.id } billcc=${bill.billCode }><img src="${pageContext.request.contextPath }/images/xiugai.png" alt="修改" title="修改"/></a></span>
                  <span><a class="deleteBill" href="javascript:;" billid=${bill.id } billcc=${bill.billCode }><img src="${pageContext.request.contextPath }/images/schu.png" alt="删除" title="删除"/></a></span>
                  </td>
              </tr>
          </c:forEach>-->
    </table>
</div>
</body>
</html>

