<component name="ArtifactManager">
  <artifact type="war" name="springbootorder:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-order.war">
      <element id="artifact" artifact-name="springbootorder:war exploded" />
    </root>
  </artifact>
</component>